LEANDATA_SITE_REPO_URL=gitlab-leandata-docs-readonly:openalice/websocket-datafeed-proxy-docs.git
LEANDATA_SITE_REPOSITORY_MIRROR=/srv/leandata/site-repository.git
LEANDATA_SITE_RELEASE_ROOT=/srv/leandata/site-releases
LEANDATA_SITE_DIR=/srv/leandata/proxy-token-site
LEANDATA_SITE_DEPLOY_LOCK_FILE=/srv/leandata/run/site-deploy.lock
LEANDATA_SITE_DEPLOY_LOG_DIR=/srv/leandata/site-deployments
LEANDATA_SITE_PUBLIC_HEALTH_URL=https://leandata.uk/
LEANDATA_SITE_PUBLIC_DOCS_URL=https://leandata.uk/docs-site.jsx
LEANDATA_SITE_PUBLIC_ACCOUNT_URL=https://leandata.uk/account
LEANDATA_RUNTIME_DEPLOY_CONFIG=/etc/leandata/deploy.env
LEANDATA_SITE_LOCAL_HEALTH_PATH=/
LEANDATA_SITE_LOCAL_DOCS_PATH=/docs-site.jsx
LEANDATA_SITE_LOCAL_ACCOUNT_PATH=/account
